In [ ]:
numbers =

In [37]:
numbers = [3, 30, 34, 5, 9]

numbers = list(map(str,numbers))
from itertools import permutations

#tmp = permutations(numbers,len(numbers))

In [2]:
all_lsts =list(tmp)

In [38]:
numbers.sort(reverse=True)

In [39]:
numbers

['9', '5', '34', '30', '3']

In [49]:
num_dic = {str(i) : [] for i in range(9,-1,-1)}

In [50]:
num_dic

{'9': [],
 '8': [],
 '7': [],
 '6': [],
 '5': [],
 '4': [],
 '3': [],
 '2': [],
 '1': [],
 '0': []}

In [42]:
for number in numbers:
    num_dic[number[0]].append(number)

In [43]:
num_dic

{'9': ['9'],
 '8': [],
 '7': [],
 '6': [],
 '5': ['5'],
 '4': [],
 '3': ['34', '30', '3'],
 '2': [],
 '1': []}

In [44]:
for i, v in num_dic.items():
    if len(v)> 1:
        tmp = list(map(''.join,list(permutations(v,len(v)))))
        tmp.sort(reverse=True)
        num_dic[i] = [tmp[0]]

In [45]:
num_dic

{'9': ['9'],
 '8': [],
 '7': [],
 '6': [],
 '5': ['5'],
 '4': [],
 '3': ['34330'],
 '2': [],
 '1': []}

In [47]:
answer = ''
for v in num_dic.values():
    if len(v) > 0:
        answer += v[0]

In [48]:
answer

'9534330'

In [20]:
list(map(''.join, all_lsts))

['3303459',
 '3303495',
 '3305349',
 '3305934',
 '3309345',
 '3309534',
 '3343059',
 '3343095',
 '3345309',
 '3345930',
 '3349305',
 '3349530',
 '3530349',
 '3530934',
 '3534309',
 '3534930',
 '3593034',
 '3593430',
 '3930345',
 '3930534',
 '3934305',
 '3934530',
 '3953034',
 '3953430',
 '3033459',
 '3033495',
 '3035349',
 '3035934',
 '3039345',
 '3039534',
 '3034359',
 '3034395',
 '3034539',
 '3034593',
 '3034935',
 '3034953',
 '3053349',
 '3053934',
 '3053439',
 '3053493',
 '3059334',
 '3059343',
 '3093345',
 '3093534',
 '3093435',
 '3093453',
 '3095334',
 '3095343',
 '3433059',
 '3433095',
 '3435309',
 '3435930',
 '3439305',
 '3439530',
 '3430359',
 '3430395',
 '3430539',
 '3430593',
 '3430935',
 '3430953',
 '3453309',
 '3453930',
 '3453039',
 '3453093',
 '3459330',
 '3459303',
 '3493305',
 '3493530',
 '3493035',
 '3493053',
 '3495330',
 '3495303',
 '5330349',
 '5330934',
 '5334309',
 '5334930',
 '5393034',
 '5393430',
 '5303349',
 '5303934',
 '5303439',
 '5303493',
 '5309334',
 '5309343',
 '5343309',
 '5343930',
 '5343039',
 '5343093',
 '5349330',
 '5349303',
 '5933034',
 '5933430',
 '5930334',
 '5930343',
 '5934330',
 '5934303',
 '9330345',
 '9330534',
 '9334305',
 '9334530',
 '9353034',
 '9353430',
 '9303345',
 '9303534',
 '9303435',
 '9303453',
 '9305334',
 '9305343',
 '9343305',
 '9343530',
 '9343035',
 '9343053',
 '9345330',
 '9345303',
 '9533034',
 '9533430',
 '9530334',
 '9530343',
 '9534330',
 '9534303']

In [1]:
numbers = [3, 30, 34, 5, 9]

numbers = list(map(str,numbers))
from itertools import permutations

answer_lsts = list(map(''.join, list(permutations(numbers,len(numbers)))))

In [8]:
numbers.sort(key=lambda x: x*2, reverse=True)

In [9]:
numbers

['9', '5', '34', '3', '30']

In [12]:
sorted(['9','5','34','33','3030','3'],reverse=True)

['9', '5', '34', '33', '3030', '3']

In [5]:
numbers[3] * 3

'333'

In [29]:
answer_lsts.sort(reverse=True)

In [31]:
answer =answer_lsts[0]

In [ ]:
def solution(numbers):
    from itertools import permutations
    numbers = list(map(str,numbers))
    answer_lsts = list(map(''.join, list(permutations(numbers,len(numbers)))))
    answer_lsts.sort(reverse=True)
    answer =answer_lsts[0]
    return answer

In [58]:
def solution(numbers):
    from itertools import permutations
    numbers = list(map(str,numbers))
    numbers.sort(reverse=True)
    num_dic = {str(i) : [] for i in range(9,-1,-1)}
    for number in numbers:
        num_dic[number[0]].append(number)
    for i, v in num_dic.items():
        if len(v)> 1:
            tmp = list(map(''.join,list(permutations(v,len(v)))))
            tmp.sort(reverse=True)
            num_dic[i] = [tmp[0]]
    answer = ''
    for v in num_dic.values():
        if len(v) > 0:
            answer += v[0]
    answer = str(int(answer))
    return answer

In [59]:
number = [0,0,0]

In [60]:
solution(number)

'0'

# H index

In [29]:
citiations = [3, 0, 6, 1, 5]

In [35]:
citiations.sort(reverse=True)

In [31]:
citiations

[6, 5, 3, 1, 0]

In [32]:
start_num = citiations[0]

In [33]:
while True:
    test = [True for citiation in citiations if citiation >= start_num]
    if sum(test) >= start_num:
        break
    else:
        start_num -= 1

In [34]:
start_num

3

In [ ]:
def solution(citations):
    citations.sort(reverse=True)
    start_num = citations[0]
    while True:
        test = [True for citation in citations if citation >= start_num]
        if sum(test) >= start_num:
            break
        else:
            start_num -= 1
    
    return start_num